@charset "UTF-8";

body{
    background-color: #A1C7E0;
}
#titulo{
    background-color: #00ABBD;
    color: #ff9933;
    text-align: center;
}
main{
    background-color:white ;
    border-radius: 10px;
    box-shadow: #052928ab 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #00ABBD;
    text-align: justify;
}
.basico{
    color: #29a10b;
    
}
.intermediario{
    color: #eeea10;
}
.avançado{
    color: #992d2d;
}
p{
    text-align: justify;
}