@charset "UTF-8";

Body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

h1 {
  color: blue;
  background-color: rgb(201, 212, 212);
}

h2 {
    color: brown;
}

p{
    text-align: justify;
}